<!doctype html>
<html data-bs-theme="dark" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta property="og:url" content="https://dmd.shalzuth.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["Description"]">
    <meta name="description" content="@ViewData["Description"]">
    <meta property="og:image" content="@ViewData["Image"]">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="dmd.shalzuth.com">
    <meta property="twitter:url" content="https://dmd.shalzuth.com">
    <meta name="twitter:title" content="@ViewData["Title"]">
    <meta name="twitter:description" content="@ViewData["Description"]">
    <meta name="twitter:image" content="@ViewData["Image"]">
    <!link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css" />
    <!link rel="stylesheet" href="/css/site.css" />
    <!--<!link rel="stylesheet" href="/WebApp.styles.css" />-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MGYL3CVPJ1"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-MGYL3CVPJ1');</script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/favicon.ico" width="48" height="48" /> Death Must Die: Item Editor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-between">
                    <!--<ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/steamlogin">
                                Login <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-steam" viewBox="0 0 16 16">
  <path d="M.329 10.333A8.01 8.01 0 0 0 7.99 16C12.414 16 16 12.418 16 8s-3.586-8-8.009-8A8.006 8.006 0 0 0 0 7.468l.003.006 4.304 1.769A2.2 2.2 0 0 1 5.62 8.88l1.96-2.844-.001-.04a3.046 3.046 0 0 1 3.042-3.043 3.046 3.046 0 0 1 3.042 3.043 3.047 3.047 0 0 1-3.111 3.044l-2.804 2a2.223 2.223 0 0 1-3.075 2.11 2.22 2.22 0 0 1-1.312-1.568L.33 10.333Z"/>
  <path d="M4.868 12.683a1.715 1.715 0 0 0 1.318-3.165 1.7 1.7 0 0 0-1.263-.02l1.023.424a1.261 1.261 0 1 1-.97 2.33l-.99-.41a1.7 1.7 0 0 0 .882.84Zm3.726-6.687a2.03 2.03 0 0 0 2.027 2.029 2.03 2.03 0 0 0 2.027-2.029 2.03 2.03 0 0 0-2.027-2.027 2.03 2.03 0 0 0-2.027 2.027m2.03-1.527a1.524 1.524 0 1 1-.002 3.048 1.524 1.524 0 0 1 .002-3.048"/>
</svg>
                            </a>
                        </li>
                    </ul>-->
                    <ul class="navbar-nav flex-grow-1">
                        <!--<li class="nav-item">
                            <a class="nav-link" href="/">Tier List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Player">Player Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Store">Store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wikigg">wiki.gg</a>
                        </li>
                        <li>
                            <a class="nav-link" target="_blank" href="https://MarvelRivals.App/discord">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-discord" viewBox="0 0 16 16">
                                    <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z" />
                                </svg>
                            </a>
                        </li>-->
                    </ul>
                </!div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted">
		<section class="p-4">
			<div class="container text-center">
			    <div class="row">
			        <div class="col">
				        <h6 class="text-uppercase fw-bold mb-4">Required generics</h6>
				        <p><a href="/privacy" class="text-reset">Privacy Policy</a></p>
				        <p><a href="/tos" class="text-reset">Terms of Service</a></p>
				        <p>&copy; 2025 - shalzuth</p>
			        </div>
			        <div class="col">
				        <h6 class="text-uppercase fw-bold mb-4">Other sites</h6>
				        <p><a href="https://helldivers.io" class="text-reset">Helldivers Galactic War Status</a></p>
				        <p><a href="https://wilds.app" class="text-reset">Monster Hunter Wilds</a></p>
				        <p><a href="https://marvelrivals.app" class="text-reset">Marvel Rivals</a></p>
			        </div>
			        <div class="col">
				        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
				        <p>shalzuth @@ gmail</p>
                        <P>eth0logy on discord</p>
			        </div>
			    </div>
			</div>
			<div class="text-center p-4">
                 This site isn't endorsed by Realm Archive, and all associated properties are trademarks of Realm Archive
			</div>
		</section>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>